extends /layouts/_layout

block content
    .login-background
        fieldset.panel-login-fieldSet
            form.block.centered.ui.form.raised.segment(action='/login', method='post')
                span.ui.center.title-font Linux <i class="icon linux green"></i>
                div.field
                    input#utc-offset(type='hidden', name='utc-offset')
                .horizontal-padding
                    div.field
                        div.ui.left.icon.corner.labled.input
                            input(type='text', name='email', palceholder='Email', autofocus)
                            i.user.icon
                            div.ui.corner.label
                                i.icon.asterisk
                    div.field
                        div.ui.left.icon.corner.labled.input
                            input(type='password', name='password', paceholder='Password')
                            i.lock.icon
                            div.ui.corner.label
                                i.icon.asterisk

                    div.fluid.ui.primary.large.submit.button Sign In
                    div.ui.clearing.divider


                    input(type='hidden', name='_csrf', value=csrf)
            div#blur-bg
    footer.footer
        wrapper-footer
            p#copyright
                span Linux <em>© 2014</em>
            - list = ["User Aggrement", "Privacy Policy", "Cookie Policy", "Copyright Policy"];
            ul
                each item in list
                    li=item
block additional-js
    script(type="text/javascript") document.addEventListener("DOMContentLoaded", function() { require(["login"], function(l){ l.initialize();})});
    //- script(type="text/javascript") define(["login"], function(login){ alert('here'); console.log(login); });
    //- script(src='/static/bundled/login.js')
    //- script(type="text/javascript") include(["/static/bundled/login"], function(m){ console.log(m); });
    //- script(type="text/javascript") requirejs(['login'], function(m){ m.initialize(); });